@import '../styles/variables.css';

/* Links abaixo do form */
.links {
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top: 1.5rem;
  gap: 3rem;
}
.links  a {
  color: var(--color-primary-cyan);
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
&:hover {
  text-decoration: underline;
  text-shadow: 0 0 8px #0bd1c7;
  transform: translateY(-2px);
 }
}


