@import '../../styles/variables.css';
@import '../../styles/Links.module.css';

.loginLayout {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.logo {
  font-size: 2.5rem;
  font-weight: bold;
   color: var(--color-primary-cyan);
  margin-bottom: 1rem;
  text-shadow: 0 0 8px rgba(0,0,0,0.6);
}
.title {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: var(--color-success);
}
.subtitle  {
  color: var(--text-light);
  margin-bottom: 2rem;

}
.card {
  width: 450px;
  height: 450px;
  padding: 3rem;
  border-radius: 28px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(14px) saturate(150%);
  -webkit-backdrop-filter: blur(14px) saturate(150%);

  box-shadow:
    0 8px 28px rgba(0,0,0,0.6),
    inset 0 0 18px rgba(255,255,255,0.05);

  border: 1px solid rgba(255,255,255,0.25);
  text-align: center;
  animation: fadeIn 0.6s ease forwards;
}

/* Form igual ao login */
.form_box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card input {
  padding: 0.9rem 1.2rem;
  border-radius: 50px;
  background: rgba(166, 168, 171, 0.25);
  border: 2px solid rgba(255,255,255,0.25);
  outline: none;
  font-size: 1.1rem;
  color: var(--text-light);
  transition: 0.3s;
}

.card input::placeholder {
  color: rgba(230,230,230,0.55);
}

.card input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 6px var(--primary);
}

/* Botão */
.btn {
  margin-top: 10px;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  background: #057a74;
  color: var(--text-light);
  transition: 0.3s;
}

.btn:hover {
  background: var(--primary);
  box-shadow: 0 0 10px var(--primary);
  transform: translateY(-2px);
}


/* Animação de entrada */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px) scale(.97); }
  to { opacity: 1; transform: translateY(0) scale(1); }
}

